.container-wrapper-header {
  // outline: 2px solid green;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include column;

  .wrapper-header {
    // outline: 2px solid green;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // @include center;

    .wrapper-header-img {
      // outline: 2px solid yellow;
      // width: 35%;
      // height: 6rem;
      // @include center;

      .circle-instagram {
        // outline: 2px solid green;
        width: 11rem;
        height: 11rem;
        // background: #f09433;
        background: linear-gradient(
          45deg,
          #f09433 0%,
          #e6683c 25%,
          #dc2743 50%,
          #cc2366 75%,
          #bc1888 100%
        );

        @include center;
        border-radius: 100%;

        .circle-white {
          // outline: 2px solid red;

          width: 10.5rem;
          height: 10.5rem;
          background-color: white;
          @include center;
          border-radius: 100%;

          .header-img {
            width: 10rem;

            height: 10rem;
            object-fit: cover;
            border-radius: 100%;
          }
        }
      }
    }
  }
  .wrapper-header-cards {
    // outline: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3rem;

    .header-cards {
      // outline: 1px solid green;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-items: center;
      margin-right: 3rem;
    }

    .card-img {
      object-fit: cover;
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
    }

    .card-circle {
      width: 6rem;
      height: 6rem;
      border-radius: 100%;
      border: 1px solid #8080806e;
      @include center;
    }

    .card-title {
      font-size: 16px;
    }
  }

  .wrapper-header-info {
    // outline: 2px solid red;
    width: 65%;
    display: flex;
    flex-direction: column;

    .topper {
      // outline: 2px solid red;
      // @include start;
      // display: flex;
      display: flex;
      flex-direction: row;

      .name {
        width: 40%;
        display: inline-block;
      }

      .logos {
        display: flex;
        justify-content: space-between;
        width: 30%;

        // outline: 2px solid red;
      }
    }

    .stats {
      @include evenly;
      margin-top: 1rem;

      p span {
        font-weight: bold;
      }
    }

    .shop-info-name {
      font-weight: bold;
    }
  }
}
