.navbar {
  border-bottom: 2px solid #d3d3d3;

  .wrapper-navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .logo-instagram {
      width: 8rem;
    }

    .ml-3 {
      margin-left: 2rem;
    }
  }
}
