.navbar {
  border-bottom: 2px solid #d3d3d3;

  .wrapper-navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .logo-instagram {
      width: 8rem;
    }

    // .ml-3 {
    //   margin-left: 2rem;
    // }

    .wrapper-btn-signup-login {
      // outline: 2px solid red;
      width: 11rem;
      display: flex;
      justify-content: space-around;

      li {
        list-style-type: none;
        // text-decoration: none;
      }

      button {
        background-color: $secondary;
        border: none;
        border-radius: 3px 3px;
        width: 4rem;
        padding: 4%;
      }

      a {
        color: white;
        text-decoration: none;
      }

      // .btn-signup-login {
      // }
    }
  }
}
