.wrapper-btns-cards {
  width: 100%;
  // border: 2px solid red;
  //   @include center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container-btns {
    // width: 100%;
    width: 40rem;
    // border: 2px solid green;
    @include between;

    .btn-bg {
      background-color: transparent;
      border: none;

      span:hover {
        color: $secondary;
      }
    }
  }

  .container-cards {
    width: 100%;
    // border: 2px solid red;
    @include center;
    flex-wrap: wrap;

    .cardImage {
      width: 29rem;
      height: 29rem;
      object-fit: cover;
      object-position: center;
      padding: 2%;
      border: none;
      cursor: pointer;
    }
  }
}
