.wrapper-btns-cards {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .container-btns {
    width: 40rem;
    @include between;

    @media (max-width: 575.98px) {
      width: 15rem;
    }
    .btn-bg {
      background-color: transparent;
      border: none;

      span:hover {
        color: $secondary;
      }
    }
  }

  .container-cards {
    width: 100%;
    @include center;
    flex-wrap: wrap;

    .cardImage {
      width: 29rem;
      height: 29rem;
      object-fit: cover;
      object-position: center;
      padding: 2%;
      border: none;
      cursor: pointer;
    }
  }
}
