@mixin center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

@mixin flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

@mixin evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@mixin start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin margin-l {
  margin-left: 1rem;
}

@mixin between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
