@import "~bootstrap/scss/bootstrap";
@import "./abstracts/mixins";
@import "./abstracts//media-queries";
@import "./abstracts/variables";
@import "./components/navbar";
@import "./components/header";
@import "./components/posts";
@import "./components/tagged";
@import "./components/header-card";
@import "./components/wrapper-cards";

.master-wrapper {
  width: 80%;
  margin: 0 auto;

  .wrapper-posts-tagged-link {
    @include evenly;

    .toggle-btn-posts {
      background-color: white;
      border: none;
    }

    .link-tagged {
      display: inline-block;
      text-decoration: none;
      color: $primary;
    }
  }
}
